	<!DOCTYPE html>
	{% load staticfiles %}
	<html>
		<head>
			<meta charset="UTF-8" />
			<title>Shit Post Bot</title>
			<link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all" />
		</head>
		<body background="{% static "images/bg.jpg" %}">
			<div class="h-100 row align-items-center">
				<div class="container">
					<div id="title">
						<h1>Shit Post Bot</h1>
					</div>

					<br>

					<div id="things">
						<p class="writeup">This bot was trained on my facebook posts. The repo for this project can be found <a href="https://github.com/JSeam2/ShitpostBot2000">here</a> </p>
						
					</div>

					<div id="things">
						<form action="#" method = "get">
							<input type="submit" class="btn btn-info" value="Generate" name="genbtn">
						</form>
					</div>

					<br>
					<div class="container" id="things">
						<p class="output">{{ shitpost }}</p>
					</div>
				</div>
			</div>
		</body>
	</html>
